.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
rethink-prs.Rproj
analysis/.ipynb_checkpoints/

# real glaucoma data
real-data/
mb-mdr/reformatted-data/real-train
mb-mdr/reformatted-data/real-test

# real results
mb-mdr/results/real/